/*
 * @author Joseph Briggs <jbriggsr3@gmail.com>
 *
 * @info FLEX MIXIN CSS, flex-mixin.less,
 *
 */
// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------
// Flexbox display
// flex or inline-flex

.flex-display(@display:flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: @display;
}

.flex(@shrink:0, @grow: 0, @width: auto) {
	-webkit-box-flex: @shrink @grow @width;
	/* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: @shrink @grow @width;
	/* OLD - Firefox 19- */
	width: @width;
	/* For old syntax, otherwise collapses. */
	-webkit-flex: @shrink @grow @width;
	/* Chrome */
	-ms-flex: @shrink @grow @width;
	/* IE 10 */
	flex: @shrink @grow @width;
}
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse

.flex-direction(@direction:row) {
	-webkit-flex-direction: @direction;
	-moz-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse

.flex-wrap(@wrap:nowrap) {
	-webkit-flex-wrap: @wrap;
	-moz-flex-wrap: @wrap;
	.ms-flex-wrap(@wrap);
	flex-wrap: @wrap;
}

.ms-flex-wrap(@value) {
	._(@value);

	._(nowrap) {
		-ms-flex-wrap: none;
	}

	._(wrap) {
		-ms-flex-wrap: wrap;
	}

	._(wrap-reverse) {
		-ms-flex-wrap: wrap-reverse;
	}
}
// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>

.flex-flow(@flow) {
	-webkit-flex-flow: @flow;
	-moz-flex-flow: @flow;
	-ms-flex-flow: @flow;
	flex-flow: @flow;
}
// Display Order
// - applies to: flex items
// <integer>

.flex-order(@order:0) {
	-webkit-order: @order;
	-moz-order: @order;
	-ms-flex-order: @order;
	order: @order;
}
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around

.justify-content(@justify:flex-start) {
	-webkit-justify-content: @justify;
	-moz-justify-content: @justify;
	.ms-justify-content(@justify);
	justify-content: @justify;
}

.ms-justify-content(@value) {
	._(@value);

	._(space-between) {
		-ms-flex-pack: justify;
	}

	._(space-around) {
		-ms-flex-pack: distribute;
	}

	._(flex-end) {
		-ms-flex-pack: end;
	}

	._(flex-start) {
		-ms-flex-pack: start;
	}

	._(center) {
		-ms-flex-pack: center;
	}
}
// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch

.align-content(@align:stretch) {
	-webkit-align-content: @align;
	-moz-align-content: @align;
	.ms-flex-line-pack(@align);
	align-content: @align;
}
// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch

.align-items(@align:stretch) {
	-webkit-align-items: @align;
	-moz-align-items: @align;
	.ms-flex-align(@align);
	align-items: @align;
}

.ms-flex-align(@value) {
	._(@value);

	._(flex-end) {
		-ms-flex-align: end;
	}

	._(flex-start) {
		-ms-flex-align: start;
	}

	._(center) {
		-ms-flex-align: center;
	}

	._(stretch) {
		-ms-flex-align: stretch;
	}

	._(baseline) {
		-ms-flex-align: baseline;
	}
}
// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch

.align-self(@align:auto) {
	-webkit-align-self: @align;
	-moz-align-self: @align;
	.ms-flex-item-align(@align);
	align-self: @align;
}

.ms-flex-item-align(@value) {
	._(@value);

	._(flex-end) {
		-ms-flex-item-align: end;
	}

	._(flex-start) {
		-ms-flex-item-align: start;
	}

	._(center) {
		-ms-flex-item-align: center;
	}

	._(stretch) {
		-ms-flex-item-align: stretch;
	}

	._(baseline) {
		-ms-flex-item-align: baseline;
	}

	._(auto) {
		-ms-flex-item-align: auto;
	}
}

.container--flex {
	.flex-display();
}

.flex-content(@var) {
	.content--@{var} {
		.justify-content(@var);
	}
}

.flex-content(flex-start);
.flex-content(flex-end);
.flex-content(center);
.flex-content(space-between);
.flex-content(space-around);

.flex-items(@var) {
	.align--@{var} {
		.align-items(@var);
	}
}
.flex-items(flex-start);
.flex-items(flex-end);
.flex-items(center);
.flex-items(baseline);
.flex-items(stretch);

.flex-self(@var) {
	.self--@{var} {
		.align-self(@var);
	}
}
.flex-self(auto);
.flex-self(center);
.flex-self(flex-start);
.flex-self(flex-end);
.flex-self(baseline);
.flex-self(stretch);

.flex-direct(@var) {
	.direction--@{var} {
		.flex-direction(@var);
	}
}

.flex-direct(row);
.flex-direct(row-reverse);
.flex-direct(column);
.flex-direct(column-reverse);

.flex-wrapping(@var) {
	.wrap--@{var} {
		.flex-wrap(@var);
	}
}

.flex-wrapping(nowrap);
.flex-wrapping(wrap);
.flex-wrapping(wrap-reverse);
