input,
button {
    height: 35px;
    border-radius: 4px;
    border: 1px solid @gray;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    font-size: 12px;

    &:focus {
        outline: none;
    }
}

input[type=text] {
    width: 248px;
    padding: 0 10px;
    margin-right: 5px;
}

button {
    width: 70px;
    font-weight: 700;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, @gray-light 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,@gray-light 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,@gray-light 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='@gray-light',GradientType=0 ); /* IE6-9 */

}

#suggestions--container {
    position: absolute;
    width: 270px;
    border: 1px solid @gray;
    border-radius: 5px;
    background: white;
    display: none;

    li {
        padding: 5px 10px;
        border-bottom: 1px solid @gray;

        &:last-child {
            border: none;
        }

        &:hover {
            background: @gray-light;
        }
    }
}
