#user--info {
    .container--flex;
    .direction--row;
    margin-top: 10px;

    #user--avatar {
        width: 73px;
        height: 73px;
        border-radius: 50%;
    }

    .details {
        margin-left: 17px;

        h1,h2,h3,h4,h5,h6 {
            margin: 0;
        }

        #user--name,
        #user--bio {
            font-weight: 400;
        }
    }
}

#user--repos {
    display: none;
    margin-top: 25px;

    .repositories {
        padding-bottom: 15px;
        border-bottom: 2px solid @text-color;
        display: block;
        font-weight: 700;
    }

    #repos {
        overflow: scroll;
        height: 260px;

        li {
            text-transform: capitalize;
            font-weight: 700;
            padding: 15px 0 20px 0;
            border-bottom: 1px solid @gray;

            &:hover {
                background: @gray-light;
            }

            .repo--container {
                padding:0 15px;
                .container--flex;
                .direction--row;
                .content--space-between;
            }

            .repo--name {
                .flex(1, 1, auto);
            }

            .repo--info {
                .container--flex;
                .direction--row;
                .content--space-between;
                .flex(0, 1, 15%);
                font-weight: 400;
                font-size: 12px;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}

.warning {
    background: @warning-bgr;
    display: inline-block;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid @warning-border;
    border-radius: 4px;
    color: @warning-text;
}
