body {
	background: @gray;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: @text-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

.wrapper {
	max-width: 75em;
	margin: 0 auto;
	height: 100vh;

	.container--flex;
	.direction--row;
	.content--center;
	.align--center;
	.wrap--wrap;
}

.container {
	width: 350px;
	background: white;
	border-radius: 10px;
    box-shadow: 10px 10px 30px #5f5f5f;
	padding: 25px;
}

img {
	width: 100%;
	height: auto;
}

a {
  color: @text-color;
  text-decoration: none; /* no underline */
}

ul,
ol {
	list-style: none;
	padding:0;
	margin: 0;
}
